/* This is the main global stylesheet */

:root{
  --header-color: rgb(168, 131, 101);
}


/* global styles */
button:focus{
  outline: none;
}
button:active{
  transform: scale(0.98);
}

/* The hamburger menu */
.menu{
  position: fixed;
  height: 100vh;
  width: 300px;
  background-color: #673d2f;
  box-shadow: 5px 0px 15px 3px rgba(0, 0, 0, 0.241);
  transform: translateX(-100%);
  transition: transform 500ms ease-out;
}
.menu h2{
  color: var(--header-color);
}
.menu ul{
  color: rgb(215, 169, 130);
}
.menu button{
  color: #c8a94a;
  font-size: 1.1rem;
}
.menu.toggled{
  transform: translateX(0px);
}

/* Header stylings */
header{
  background-color: var(--header-color);
}
header i{
  font-size: 30px;
}
header h4{
  color: rgb(70, 47, 28);
}
header button{
  color: rgb(255, 239, 226);
}


/* the main part */
.main{
  display: flex;
  flex-direction: row;
  border-top: 10px solid #7d4c3a;
  align-items: center;
  justify-content: center;
  background-color: rgb(133, 102, 78);
  padding: 20px;

  /* to get the remaining height */
  flex-grow: 1;
}
/* burger stylings */
.burger{
  width: 40%;
  background-color: white;
  padding: 50px 0px;
  border-radius: 10px;
}
.burger .salad,
.burger .bacon,
.burger .cheese, 
.burger .meat {
  margin: 5px auto;
}

.salad{
  width: 220px;
  height: 10px;
  background-color: #6baf23;
  border-radius: 10px;
}

.bacon{
  width: 220px;
  height: 5px;
  background-color: #7d4c3a;
  border-radius: 5px;
}

.cheese{
  width: 220px;
  height: 10px;
  background-color: #e1bc4a;
  border-radius: 0px;
}

.meat{
  width: 180px;
  height: 14px;
  background-color: brown;
  border-radius: 5px;
}





/* terminal */
.terminal{
  background-color: var(--header-color);
  border-radius: 10px;
  margin-left: 20px;
  width: 500px;
}
.terminal .btn-group h2{
  width: 80px;
}
.terminal .btn{
  background-color: #784636;
  color: hsl(15 38% 85% / 1);
  padding: 6px 20px;
  border-radius: 5px;
  margin: 0px 6px;
}
.terminal .btn:disabled,
.terminal button:disabled,
.bill button:disabled{
  opacity: 0.7;
  cursor: default;
}


/* the bill and its container */
.bill-contain{
  z-index: -1;
}
.bill-contain.active{
  z-index: 10;
}
.bill button:disabled{
  color: gray;
}

/* utility classes */

.bg-secondary{
  background-color: #6baf23;
}


/* media queries */
@media (max-width: 800px){
  .main{
    flex-direction: column;
    height: auto;
  }
  .main .terminal{
    margin-left: 0px;
  }
  .main .burger{
    margin-bottom: 20px;
    width: 400px;
  }
}